{% extends 'base.html.twig' %}

{% block title %}Modifier Tag{% endblock %}

{% block body %}
    <h1>Modifier Tag</h1>

    <form action="{{ path('app_tag_edit', {id: tag.id}) }}" method="post" class="d-flex">
        <input type="text" name="name" value="{{ tag.name }}" class="form-control me-2" required>
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    </form>
{% endblock %}
